<div data-turbolinks="true">
<table class='table'>
    <tr><%= image_tag asset_path('guest.png'), size: "150x150" %></tr>
    <tr>
	  <th>名前</th>
	  <th>ゲスト</th>
	</tr>
	<tr>
      <th>ゲーム一覧</th>
      <th><%= link_to 'こちら', games_path %></th>
    </tr>
    <tr>
      <th>ボードドゲーム一覧</th>
      <th><%= link_to 'こちら', bordgames_path %></th>
    </tr>
    <tr>
      <th>投稿の際は</th>
      <th><%= link_to '新規登録', new_customer_registration_path %></th>
    </tr>
        <th><%= link_to 'ログイン',new_customer_session_path %></th>
     </tr>
</table>
</div>
<div>
  <%= image_tag asset_path('黒Dice.png'), size: "250x250" %>
</div>