<table class='table'>
    <% if @customer.profile_image.attached? %>
  <tr><%= image_tag @customer.get_profile_image, size: "100x100" %></tr>
  <% else %>
  <tr><%= image_tag 'no_image', size: "100x100" %></tr>
  <% end %>
  <tr>
	  <th>名前</th>
	  <th><%= @customer.name %></th>
  </tr>
  <tr>
	  <th><i class="fas fa-map-marker-alt fa-lg"></i></th>
	  <th><%= @customer.prefecture_code %></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th><%#= link_to customer.followings.count, customer_followings_path(customer) %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%#= link_to customer.followers.count, customer_followers_path(customer) %></th>
  </tr>
  
</table>
　
<div class='row'>
  <% if current_customer != @customer %>
    <td><%= render "relationships/btn", customer: customer %></td>
  <% else %>
    <%= link_to edit_customers_path, class: "btn btn-outline-secondary btn-block edit_customer_#{@customer.id}" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>