<table class='table table-hover table-inverse'>
  <thead class="thead-dark">
    <tr>
      <th>順位　</th>
      <th>ゲーム名　</th>
      <th></th>
      <th>タイトル</th>
      <th><i class="fas fa-star fa-lg" aria-hidden="true" style="color: #ffa200;"></i>数　</th>
      <th>閲覧数　　</th>
      <th>コメント数　　　</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
    <% @games.sort_by { |game| -game.favorites .count }.each_with_index do |game, index| %>
      <tr>
        <td><%= index + 1 %>位</td>
        <td><%= link_to(game) do %>
          <% if game.image.attached? %>
            <%= image_tag game.image, size:'120x120' %>
          <% else %><br>
            <%= image_tag asset_path('no_image.jpg'), size: "120x120" %>
          <% end %><br>
          <% if game.game_title.length > 10 %>
            <%= "#{game.game_title.slice(0, 10)}..." %>
          <% else %><br>
            <%= game.game_title %>
          <% end %>
        <% end %></td>
        <td><br><br><%= game.platform.name %></td>
        <% if game.introduct_title.length > 30 %>
          <td><%= "#{game.introduct_title.slice(0, 30)}..." %></td>
        <% else %>
          <td><%= game.introduct_title %></td>
        <% end %>
        <td><i class="fas fa-star fa-lg" aria-hidden="true" style="color: #ffa200;"></i>
          <% if params[:ranking_period] == 'all' %>
            <%= game.favorites.count %>
          <% elsif params[:ranking_period] == 'monthly' %>
            <%= game.favorites.where(created_at: Time.current.all_month).count %>
          <% elsif params[:ranking_period] == 'weekly' %>
            <%= game.favorites.where(created_at: Time.current.all_week).count %>
          <% else params[:ranking_period] == 'daily'%>
            <%= game.favorites.where(created_at: Time.zone.now.all_day).count %>
          <% end %>
        </td>
         <td><%= game.view_counts.count %></td>
        <td><%= game.comments.count %>件</td>
      </tr>
    <% end %>
  </tbody>

