<% @favorite_games.each do |game| %>
            <tr>
              <td><%= link_to(game) do %>
                <% if game.image.attached? %>
                  <%= image_tag game.image, size:'60x60' %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "60x60" %>
                <% end %>
              <% end %>
              </td>
              <% if game.game_title.length > 10 %>
                <td><%= link_to "#{game.game_title.slice(0, 10)}...", game, class: "game_#{game.id}" %></td>
              <% else %>
                <td><%= link_to game.game_title, game, class: "game_#{game.id}" %></td>
              <% end %>
              <td><%= game.platform.name %></td>
              <% if game.introduct_title.length > 20 %>
                <td><%= "#{game.introduct_title.slice(0, 20)}..." %></td>
              <% else %>
                <td><%= game.introduct_title %></td>
              <% end %>
              <td><i class="fas fa-star fa-lg" aria-hidden="true" style="color: #ffa200;"></i><%= game.favorites.count %></td>
              <td><%= game.view_counts.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>