<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>ゲーム情報編集</h2>
       <%= content_tag :p do %>
          投稿には<strong>ゲーム名</strong>、<strong>ジャンル</strong>、<strong>点数</strong>、<strong>発売日</strong>、<strong>価格</strong>、<strong>タイトル</strong>、<strong>ゲーム内容</strong>、<strong>総合評価</strong>の記述が必要です。
      <% end %>
      <% if flash[:alert] %>
      <div class="alert alert-danger"role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    </div>
  </div>
   <div class="row">  
   <%= form_with model: @game, url: game_path, method: :patch, local: true do |f| %>
   <table>
    <tr>
        <div class= "from-group">
            <th>ゲーム画像<% f.label :ゲーム画像 %></th>
            <th><%= f.file_field :image, accept: 'image/*' %></th>
        </div>
    </tr>
    <tr>
        <div class= "from-group">
            <th><%= f.label :ゲーム名 %></th>
            <td><%= f.text_field :game_title,maxlength: 150,size: "80x3", placeholder:"タイトル:150文字以内" %></td>
        </div>
    </tr>
    <tr>
        <th><%= f.label :タイプ %></th>
        <td><%= f.collection_select :platform_id, Platform.all, :id, :name, :prompt => "--タイプ選択--" %>
        <%= f.collection_select :categorie_id, Category.all, :id, :name, :prompt => "--ジャンル選択--" %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--プレイ人数--" %></td>
    </tr>
    <tr>
        <div class="form-group">
            <th><%= f.label :点数 %></th>
            <td><%= f.text_field :points,size: "1x2", placeholder:"00" %>点</td>
        </div>
    </tr>
    <tr>
    <tr>
        <div class="form-group">
            <th><%= f.label :価格 %></th>
            <td><%= f.text_field :price, placeholder:"0000" %>円</td>
        </div>
    </tr>
     <tr>
        <div class= "from-group">
            <th><%= f.label :タイトル %></th>
            <td><%= f.text_area :introduct_title, maxlength: 60,size: "80x3", placeholder:"紹介文タイトル60文字以内" %></td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <th><%= f.label :ゲーム内容 %></th>
            <td><%= f.text_area :introduct, maxlength: 180, size: "80x4", placeholder:"ゲーム紹介、遊び方の説明:120文字以内" %></td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <th><%= f.label :Ｇｏｏｄ %></th>
            <td><%= f.text_area :good_introduct,maxlength: 180, size: "80x4", placeholder:"良い点:120文字以内" %></td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <th><%= f.label :Ｂａｄ %></th>
            <td><%= f.text_area :bad_introduct,maxlength: 180, size: "80x4", placeholder:"悪い点:120文字以内" %></td>
        </div>
    </tr>
   <tr>
        <div class="form-group">
            <th><%= f.label :総合評価 %></th>
            <td><%= f.text_area :overall_review,maxlength: 200, size: "80x4", placeholder:"総合評価:200文字以内" %></td>
        </div>
    </tr>
    </tr>
    </tr>
   <tr>
      <div class="form-action">
          <th></th>
        <td><%= f.submit "変更を保存", class:"btn btn-success btn-block" %></td>
      </div>
    </tr>
    <% end %>
   </table>
   </div>
</div>