<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>ゲーム名</th>
      <th>タイプ</th>
      <th>紹介</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <h1>ハード系投稿一覧</h1>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to(game) do %>
            <% if game.image.attached? %>
            <%= image_tag game.image, size: "100x100" %>
            <% end %>
        </td>
         <% if game.game_title.length > 10 %>
          <td><%= link_to "#{game.game_title.slice(0, 10)}...", game, class: "game_#{game.id}" %></td>
         <% else %>
          <td><%= link_to game.game_title, game, class: "game_#{game.id}" %></td>
         <% end %>
          <td><%= game.platform.name %></td>
         <% if game.introduct_title.length > 20 %>
            <td><%= "#{game.introduct_title.slice(0, 20)}..." %></td>
         <% else %>
            <td><%= game.introduct_title %></td>
         <% end %>
        <td class=<%#= "favorite-" + game.id.to_s %> >
            <%#= render "favorites/btn", game: game %></td>
        <td><%#= render "game_comments/counter", game: game %></td>
        <td><p class="view-count">閲覧数: <%#= game.view_counts.count %></p></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
