<h1><%= @game.game_title %></h1>
<%= image_tag @game.image if @game.image.attached? %>
<p><strong>プラットフォーム:</strong> <%= @game.platform %>　<strong>カテゴリー:</strong> <%= @game.categorie %>　<strong>ジャンル:</strong> <%= @game.genre %></p>
<p><strong>リリース日:</strong> <%= @game.release_date %></p>
<p><strong>価格:</strong> <%= @game.price %> 円</p>

<p><strong>紹介タイトル:</strong> <%= @game.introduct_title %></p>
<p><strong>紹介文:</strong> <%= @game.introduct %></p>
<p><strong>良い点:</strong> <%= @game.good_introduct %></p>
<p><strong>悪い点:</strong> <%= @game.bad_introduct %></p>
<p><strong>総合評価:</strong> <%= @game.overall_review %></p>

