<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">お知らせ詳細</h1>
      <div class="card my-4">
        <div class="card-header">
          <%= @notice.category %>：<%= @notice.title %>
        </div>
        <div class="card-body">
          <%= @notice.content %>
        </div>
        <div class="card-footer text-right">
          <%= link_to "一覧に戻る", notices_path, class: "btn btn-secondary" %>
          <% if admin_signed_in? %>
          <%= link_to "編集", edit_notice_path(@notice), class: "btn btn-primary" %>
          <%= link_to "削除", notice_path(@notice), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>