<div class='container px-5 px-sm-0'>
  <div class='row'>
    <% if customer_signed_in? %>
    <div class="card">
        <div class="card-header" id="user-info-header">
          <button class="btn btn-link" data-toggle="collapse" data-target="#user-info-content" aria-expanded="true" aria-controls="user-info-content">
            ユーザー情報
          </button>
        </div>
        <div id="user-info-content" class="collapse show" aria-labelledby="user-info-header">
          <div class="card-body">
            <% if current_customer %>
              <%= form_with model: @customer, url: customer_path(current_customer.id), remote: true do |f| %>
                <%= render partial: 'public/customers/info', customer: @customer %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-9">
    <table class='table table-hover table-inverse'>
     <thead>
        <tr><strong>フォロワー</strong></tr>
      <tr>
       <th>プロフィール画像</th>
       <th>名前</th>
       <th>フォロー</th>
       <th>ユーザーページへ</th>
       <th colspan="1"></th>
      </tr>
     </thead>
     <tbody>
        <% if @customers.exists? %>
        <% @customers.each do |customer| %>
        <tr>
        <td><%= image_tag customer.get_profile_image, size: '80x80' %></td>
        <td><%= customer.name %></td>
        <td><%= render "public/relationships/btn", customer: customer %></td>
        <td><%= link_to '詳細', customer, class: "customer_#{customer.id}" %></td>
      </tr>
      <% end %>
      <% else %>
        <td>ユーザーはいません</td>
      <% end %>     
     </tbody>
     <%= paginate @customers %>
    </table>
  </div> 
 </div>
</div>
     
         