<div class='container px-5 px-sm-0'>
 <div class='row'>
   <div class='col-md-3'>
      <% if customer_signed_in? %>
        <h2>ユーザー情報</h2>
        <%= form_with model: @customer, url: customer_path(current_customer.id), remote: true do |f| %>
            <%= render partial: 'public/customers/info', customer: @customer %>
        <% end %>
      <% else %>
        <%= render partial: 'public/customers/guest' %>
      <% end %>
   </div>
   <div class='col-md-8'>
    <table class='table table-hover table-inverse'>
     <thead>
      <tr><strong>フォロー</strong></tr>
      <tr>
       <th>プロフィール画像</th>
       <th>名前</th>
       <th>フォロー</th>
       <th>ユーザーページへ</th>
       <th colspan="3"></th>
      </tr>
     </thead>
     <tbody>
        <% if @customers.exists? %>
        <% @customers.each do |customer| %>
        <tr>
        <td><%= image_tag customer.get_profile_image, size: '80x80' %></td>
        <td><%= customer.name %></td>
        <td><%= render "public/relationships/btn", customer: customer %></td>
        <td><%= link_to '詳細', customer, class: "customer_#{customer.id}" %></td>
      </tr>
      <% end %>
      <% else %>
        <td>ユーザーはいません</td>
      <% end %>     
     </tbody>
    </table>
  </div> 
 </div>
</div>
     
        