<div class="container px-5 px-sm-0">
  <div data-turbolinks="true" class="row">
    <div class="col-md-3">
      <h2>ユーザー情報</h2>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="table-active">会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th class="table-active">名前</th>
            <td><%= @customer.name %></td>
          </tr>
          <tr>
            <th class="table-active">生年月日</th>
            <td><%= @customer.birthday %></td>
          </tr>
          <tr>
            <th class="table-active">郵便番号</th>
            <td>〒<%= @customer.post_code %></td>
          </tr>
          <tr>
            <th class="table-active">都道府県</th>
            <td><%= @customer.prefecture_code %></td>
          </tr>
          <tr>
            <th class="table-active">住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th class="table-active">電話番号</th>
            <td><%= @customer.telephone %></td>
          </tr>
          <tr>
            <th class="table-active">Eメール</th>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <th class="table-active">会員状態</th>
            <td>
              <% if @customer.withdrawal %>
                <span class="text-secondary font-weight-bold">退会</span>
              <% else %>
                <span class="text-success font-weight-bold">有効</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success btn-block" %>
    </div>
   <div class="col-md-9">
  <h2>投稿一覧</h2>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#game_posts">ゲーム投稿一覧</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#boardgame_posts">ボードゲーム投稿一覧</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="game_posts" class="tab-pane fade show active">
      <% if @games.present? %>
        <table class="table table-hover table-inverse">
          <tbody>
            <%= render 'public/customers/game' %>
          </tbody>
        </table>
        <%= paginate @games, param_name: 'games_page' %>
      <% else %>
        <p>ゲームの投稿がありません。</p>
      <% end %>
    </div>
    <div id="boardgame_posts" class="tab-pane fade">
      <% if @bordgames.present? %>
        <table class="table table-hover table-inverse">
          <tbody>
            <%= render 'public/customers/bordgame' %>
          </tbody>
        </table>
        <%= paginate @bordgames, param_name: 'bordgames_page' %>
      <% else %>
        <p>ボードゲームの投稿がありません。</p>
      <% end %>
    </div>
  </div>
</div>
