<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>会員情報編集</h2>
    </div>
  </div>
  <%= render "public/shared/error_messages", resource: resource %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <!--画像の編集-->
  <div class="row">
    <div class="col-3 offset-md-1"><%= f.label :プロフィール画像 %></div>
    <div class="col-3"><%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %></div>
  </div>
  <!--名前の編集-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "お名前" %></div>
      <div class="col-3"><%= f.text_field :name, :size => "10" %></div>
    </div>
    <!--生年月日の編集-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "生年月日" %></div>
      <div class="col-3"><%= f.date_select :birthday, {start_year: 1930, end_year: 2023,
        include_blank: true, use_two_digit_numbers: true},
        {class: "input-tab birthday-select"}%></div>
    </div>
  <!--郵便番号変更-->    
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "郵便番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :post_code, :size => "15" %></div>
    </div>
    <!--都道府県変更-->    
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "都道府県" %></div>
      <div class="col-3"><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %></div>
    </div>
  <!--住所変更-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "住所" %></div>
      <div class="col-3"><%= f.text_field :address, :size => "30"%></div>
    </div>
  <!--電話番号変更-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "電話番号(ハイフンなし)" %></div>
      <div class="col-3"><%= f.text_field :telephone %></div>
    </div>
  <!--メールアドレス変更-->
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
      <div class="col-3"><%= f.email_field :email, :size => "20" %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label :current_password, "現在のパスワード"%> </div>
      <div class="col-3"><%= f.password_field :current_password, autocomplete: "current-password" %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.submit "編集内容を保存", class:"btn btn-success my-4" %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1">
      <%= link_to "退会する", customers_withdrawal_path, class: "btn btn-danger" %>
      <%= link_to "Back", :back, class:"btn btn-secondary" %>
    </div>
  <% end %>
</div>