<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
<div class="container mt-5 mb-5">
  <%= render "public/shared/error_messages", resource: resource %>
    <div class="box1">
     <div class="box-inner">
       <div class="text-center">
      <h2>新規会員登録</h2>
      </div>
      </div>
    </div>
  </div>
      <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
      <div class="text-center">
      <div class="box-name">
          <%= f.label :name, "名前" %><br />
          <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="box-birthday">
        <%= f.label :birthday, '生年月日' %>><br />
        <%= f.date_select :birthday, {start_year: 1930, end_year: 2023,
        include_blank: true, use_two_digit_numbers: true},
        {class: "input-tab birthday-select"}%>
      </div>
      <div class="box-email">
          <%= f.label :email, "Eメール" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="box-post_code">
          <%= f.label :post_code,"郵便番号(ハイフンなし)" %><br />
          <%= f.text_field :post_code, autofocus: true, maxlength: 7, onkeypress: "return event.charCode >= 48 && event.charCode <= 57" %>
      </div>
      
      <div class="box-prefecture_code">
       <%= f.label :prefecture_code,"都道府県" %><br>
       <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
     </div>

      <div class="box-addresss">
          <%= f.label :"住所（番地）" %><br />
          <div class="col-lg-1"></div>
          <%= f.text_field :address, autofocus: true, class: "col-lg-2" %>
      </div>

      <div class="box-telephone">
          <%= f.label :"電話番号(ハイフンなし)" %><br />
          <%= f.text_field :telephone, autofocus: true, class: "col-lg-2", maxlength: 20, onkeypress: "return event.charCode >= 48 && event.charCode <= 57" %>
      </div>

      <div class="box-password">
          <%= f.label :"パスワード(6文字以上)" %><br />
          <%= f.password_field :password, autocomplete: "off", class: "col-lg-2" %>
      </div>

      <div class="box-password_confirmation">
          <%= f.label :"パスワード(確認用)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "col-lg-2" %>
      </div><br>

      <div class="text-center">
        <%= f.submit "新規登録" ,class: "btn btn-success col-lg-2" %>
      </div>
      </div>
      <% end %><br>
        <div class="text-center">
        既にアカウントをお持ちのの方は<br>
        <%= link_to "ログイン", new_customer_session_path, class: "btn btn-primary btn-sm"%>へ
      </div>
      </div>
    </div>
</div>
</div>
</div>
<body>

</html>