<!DOCTYPE html>
<html>
<head>
  <title>新規会員登録</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
</head>
<body>
<div class="container mt-5 mb-5">
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="box1">
    <div class="box-inner">
      <div class="text-center">
        <h2>新規会員登録</h2>
      </div>
    </div>
  </div>
  <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <%= f.label :birthday, '生年月日' %>
          </div>
          <div class="col-md-8">
            <%= f.date_select :birthday, {
              order: [:year, :month, :day],
              start_year: Date.current.year.to_i,
              end_year: 1930.to_i,
              include_blank: true,
              use_two_digit_numbers: 'true'.inquiry
            }, { class: "form-control" } %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "Eメール" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :post_code, "郵便番号(ハイフンなし)" %>
          <%= f.text_field :post_code, autofocus: true, maxlength: 7,
            onkeypress: "return event.charCode >= 48 && event.charCode <= 57",
            class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :prefecture_code, "都道府県" %>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all,
            :name, :name, {}, { class: "form-control" } %>
        </div>
        <div class="form-group">
          <%= f.label :address, "住所（番地）" %>
          <%= f.text_field :address, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :telephone, "電話番号(ハイフンなし)" %>
          <%= f.text_field :telephone, autofocus: true, class: "form-control",
            maxlength: 20, onkeypress: "return event.charCode >= 48 && event.charCode <= 57" %>
        </div>
        <div class="form-group">
          <%= f.label :password, "パスワード(6文字以上)" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "パスワード(確認用)" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
        <div class="text-center">
          <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
        </div><br>
        <% end %>
        <div class="text-center">
      既にアカウントをお持ちのの方は<br>
      <%= link_to "ログインへ", new_customer_session_path, class: "btn btn-primary btn-block"%>
    </div>
      </div>
    </div>
  </div>
    
  </div>
</body>
</html>
