<div class="col-sm-2 px-sm-0" >
        <%= link_to new_game_path do %>
        <i class="fas fa-plus-circle"></i>ハード系ゲーム投稿
        <% end %>
        <%= link_to new_game_path do %>
        <i class="fas fa-plus-circle"></i>テーブル系ゲーム投稿
        <% end %>
    </div>
    <ul>
  <% @bordgames.each do |bordgame| %>
    <li>
      <%= link_to bordgame.game_title, bordgame %>
      <%= bordgame.introduct_title %>
      <% if bordgame.image.attached? %>
        <%= image_tag bordgame.image, size: "100x100" %>
      <% end %>
    </li>
  <% end %>
</ul>
