<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>新規登録</h2>
    </div>
    <div class= "row">
        <div class="col-sm-2 px-sm-0" >
        <%= form_with model: @bordgame,url: bordgames_path do |f| %>
        <table>
            <tr>
                <div class= "from-group">
                    <th><%= f.label :ゲーム画像 %></th>
                    <th><%= f.file_field :image %></th>
                </div>
            </tr>
            <tr>
                <div class= "from-group">
                    <th><%= f.label :ゲーム名 %></th>
                    <td><%= f.text_field :game_title,size: "80x3", placeholder:"タイトル" %></td>
                </div>
            </tr>
            
            <tr>
                <th><%= f.label :ジャンル %></th>
                <td><%= f.select :platform, [ 'テーブル'], {}, { class: 'type' } %>
                    <%= f.select :categorie, ['1人','2人','3人','4人','5人以上'], {}, { class: 'tabletop-genre' } %>
                    <%= f.select :genre, options_for_select([['すごろく'], ['ワーカープレイスメント'],['拡大再生産'],['パズル'], ['タイル配置'],['陣取り'], ['ドラフト'], ['心理戦'], ['競り'],['協力']]), id: :categorie %>
          </td>
            <tr>
                <div class="form-group">
                    <th><%= f.label :点数 %></th>
                    <td><%= f.text_field :points,size: "1x2", placeholder:"00" %>点</td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <th><%= f.label :発売日 %></th>
                    <td><%= f.date_select :release_date, {start_year: 1960, end_year: 2023,
                        include_blank: true, use_two_digit_numbers: true},
                        {class: "input-tab release_date-select"}%></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <th><%= f.label :税抜価格 %></th>
                    <td><%= f.text_field :price, placeholder:"0000" %>円</td>
                </div>
            </tr>
            <tr>
                <div class= "from-group">
                    <th><%= f.label :タイトル %></th>
                    <td><%= f.text_area :introduct_title,size: "80x3", placeholder:"紹介文タイトル" %></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <th><%= f.label :遊び方 %></th>
                    <td><%= f.text_area :introduct, size: "80x4", placeholder:"ゲーム紹介、遊び方の説明の記述" %></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <th><%= f.label :Ｇｏｏｄ %></th>
                    <td><%= f.text_area :good_introduct, size: "80x4", placeholder:"良い点" %></td>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <th><%= f.label :Ｂａｄ %></th>
                    <td><%= f.text_area :bad_introduct, size: "80x4", placeholder:"悪い点" %></td>
                </div>
            </tr>
           <tr>
                <div class="form-group">
                    <th><%= f.label :Ｔｏｔａｌ %></th>
                    <td><%= f.text_area :overall_review, size: "80x4", placeholder:"総合評価" %></td>
                </div>
            </tr>
            </tr>
            </tr>
            <tr>
                <div class="form-action">
                    <th><%= f.submit "登録する",class:"btn btn-success" %></th>
                </div>
            </tr>
        <% end %>
        </table>
        </div>
    </div>