<div class="container">
	<div class="row ">
    <div class="col">
      <h2>ボードゲーム投稿詳細</h2>
    </div>
  </div>
    <div class="col">
      <table class="table table-bordered">
        <% if @bordgame.image.attached? %>
           <tr><%= image_tag @bordgame.image, size:'200x200' if @bordgame.image.attached? %></tr>
        <% else %>
            <tr><%= image_tag 'no_image', size: "200x200" %></tr>
        <% end %>
        <% if @bordgame.customer == current_customer %>
        <tr>
          <th><%= link_to "編集", edit_bordgame_path(@bordgame), class:"btn btn-success btn-lg" %></th>
          <td><%= button_to '削除',  bordgame_path(@bordgame.id), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-danger btn-lg"  %></td>
          <% end %>
        <tr>
        <% if current_admin.present? %>
        <tr>
          <td><%= button_to '削除',  bordgame_path(@bordgame.id), method: :delete, data: { confirm: '本当に消しますか？' }, class:"btn btn-danger btn-lg"  %></td>
          <% end %>
        <tr>
          <tr>
           <th><strong>コメント件数：<%= @bordgame.bordgame_comments.count %></strong></th>
           <th><strong>閲覧数：<%= @bordgame.bord_view_counts.count %></strong>
           
           </th>
        </tr>
           <% if customer_signed_in? %>
           <th>投稿者<br><strong><%= link_to @bordgame.customer.name, customer_path(@bordgame.customer) %></strong></th>
           <% else %> 
           <th>投稿者<br><strong><%= @bordgame.customer.name %></strong></th>
           <% end %> 
           <th>ゲーム名:<strong><%= @bordgame.game_title %></strong>
           <%= render 'public/bord_favorites/bordbtn', bordgame: @bordfavorite %>
           </th>
        </tr>
        <tr>
          <th>発売日:<strong><%= @bordgame.release_date %></strong></th>
          <th>
            1⃣タイプ:<strong><%= @bordgame.tableplat.name %>,</strong>
            2⃣ジャンル:<strong><%= @bordgame.table.name %>,</strong>
            3⃣プレイ人数:<strong><%= @bordgame.category.name %></strong>
          </th>
        </tr>
        <tr>
          <th>税込価格(税抜)</th>
          <% if @bordgame.price.present? %>
          <th><strong><%= (@bordgame.price * 1.1).floor.to_s(:delimited) %>(<%= @bordgame.price %>)円</strong></th>
          <% else %>
            <th><strong>0円</strong></th>
          <% end %>
        </tr>
        <tr>
          <th>ゲーム紹介！</th>
          <td><strong><%= @bordgame.introduct_title %></strong></td>
        </tr>
        <tr>
          <th>ゲーム説明</th>
          <td><%= @bordgame.introduct %></td>
        </tr>
        <tr>
          <th style="color: green;">Ｇｏｏｄ</th>
          <td><%= @bordgame.good_introduct %></td>
        </tr>
        <tr>
          <th style="color: red;">Ｂａｄ</th>
          <td ><%= @bordgame.bad_introduct %></td>
        </tr>
        <tr>
          <th>総合評価</th>
          <td><%= @bordgame.overall_review %></td>
        </tr>
        <%= render "comment", bordgame: @bordgame %>
         </div>
         </table>
    </div>
  </div>
</div>