<div class="container">
  <h1 class="text-center mb-4">お問い合わせ一覧</h1>
  
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <%= link_to '未対応', untreated_inquiries_path, class: 'btn btn-info' %>
      </li>
      <li class="nav-item">
        <%= link_to '対応中', processing_inquiries_path, class: 'btn btn-light' %>
      <li class="nav-item">
        <%= link_to '対応済み', completed_inquiries_path, class: 'btn btn-light' %>
      </li>
    </ul>
    <% if @untreated_inquiries.any? %>
   <div class="tab-content">
  <div class="tab-pane fade show active" id="status-0">
    <table class="table">
      <%= render 'thead' %>
      <tbody>
        <% @untreated_inquiries.select{|inquiry| inquiry.status == "未対応"}.each do |inquiry| %>
          <%= render 'inquries', inquiry: inquiry %>
        <% end %>
        <%= paginate @untreated_inquiries.where(status: "未対応") %>
      </tbody>
    </table>
  </div>
   <% else %>
      <table class="table">
        <%= render 'thead' %>
        <tbody>
          <tr>
            <td colspan="4">お問い合わせがありません</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <%= link_to "新規お問い合わせ", new_inquiry_path, class: "btn btn-primary" %>
  </div>