    <div class="btn-group">
             <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-indent fa-lg" style="color: #001d75;"></i>一覧系
             </button>
              <div class="dropdown-menu">
               <a class="dropdown-item"><%= link_to admin_games_path do %><i class="fas fa-dice fa-lg" style="color: #001d75;"></i>ゲーム一覧</a>
               <% end %>
               <a class="dropdown-item"><%= link_to admin_customers_path do %><i class="fas fa-comment-medical fa-lg" style="color: #001d75;"></i>会員一覧</a>
               <% end %>
              </div>
            </div>　
            <div class="btn-group">
             <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tags fa-lg" style="color: #3af268;"></i>ジャンル関連
             </button>
              <div class="dropdown-menu">
               <a class="dropdown-item"><%= link_to admin_platforms_path do %><i class="fas fa-gamepad fa-lg" style="color: #3af268;"></i>プラットフォーム一覧</a>
               <% end %>
               <a class="dropdown-item"><%= link_to admin_genres_path do %><i class="fas fa-tasks fa-lg" style="color: #3af268;"></i>ジャンル一覧</a>
               <% end %>
               <a class="dropdown-item"><%= link_to admin_categories_path do %><i class="fas fa-users fa-lg" style="color: #3af268;"></i>プレイ人数一覧</a>
               <% end %>
              </div>　
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-info' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              </li>
              
              <li class="mt-0">
                <%#= form_with url: admin_admin_search_path, method: :get, local: true do |f| %>
                  <%#= f.collection_select :word_for_search, Genre.all, :id, :genre_name %>
                  <%#= f.submit "検索",class: "btn btn-info btn-sm" %>
                <%# end %>
              </li>
               </div>
             </div>