<!DOCTYPE html>
<html>
  <head>
    <title>Roll The Dice: ゲームの世界への挑戦</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5667bc939f.js" crossorigin="anonymous"></script>
  </head>


  <body>
    <header class="border-bottom border-dark">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to image_tag('Roll The Dice.logo3 .png', size: "100x100", class: "ml-5"), root_path %>
          <a class="navbar-brand" href="/"><h3>ゲームの世界への挑戦</h3></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <!--adminログイン時のヘッダー-->
            <% if admin_signed_in? %>
            <%= render partial: 'layouts/header_admin' %>
            <!--customersログイン時のヘッダー-->
            <% elsif customer_signed_in? %>
            <%= render partial: 'layouts/header_customer' %>
            <!--ログイン前時のヘッダー-->
            <% else %>
            <%= render partial: 'layouts/header' %>
            <% end %>
            </ul>

          </div>
        </div>
      </nav>
    </header>

    <div class="container">
  			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5"></div>
    </div>
    <main>
      <%= flash[:success] %>
      <%= yield %>
    </main>
    <footer class="border-bottom border-dark pb-5">

    </footer>
  </body>
</html>